<div style="display: flex;flex-direction: column;">


<div class="jumbotron" style="flex-grow: 1">
    <div class="container">
        <h1>
            <span class="icon-nodulus"></span> nodulus
            <sup><small>&trade;</small></sup>
        </h1>
        <p>a dynamic node modules back office.</p>
        <h6>
            open sourced, extendable, modular. <sup><small>&trade;</small></sup>
        </h6>
    </div>
</div>
 
<div class="modal fade" bsModal #staticModal="bs-modal" 
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="card">
        <div class="card-header"><i class="fa fa-user"></i>  connect as:</div>
        <div class="card-block">
            <div name="LoginForm" novalidate>
                <div class="form-group">
                    <label>{{"LOGIN.Email" | translate}}:</label>
                    <input type="text" id="email" class="form-control"  [(ngModel)]="Username" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" id="password" class="form-control" [(ngModel)]="Password" />
                    <div ng-messages="LoginForm.Password.$error">
                        <div ng-message="required">This is required.</div>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
                        <a class="btn btn-primary" (click)="login()">Login</a>            
        </div>
    </div> 
  </div>
</div>
<div class="container-fluid" style="text-align: center;flex-grow: 3">
<i class="fa fa-cogs" style="font-size: 150px;" (click)="open(logindialog);"></i>
</div>
<div class="visible-desktop navbar navbar-fixed-bottom jumbotron" style="flex-grow: 1">

    <div class="container" style="height: 100%;">
<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>-->
<h1>
    <span class="icon-nodulus"></span> nodulus <sup><small>&trade;</small></sup>
</h1>
</div>

</div>


</div>

<template #logindialog let-c="close" let-d="dismiss">

    <div class="card-header">
        <button type="button" class="close" ng-click="modal.dismiss('No bueno!')" aria-hidden="true">&times;</button>
        <h3>
            <span class="icon-nodulus"></span> nodulus <sup><small>&trade;</small></sup>
        </h3>
    </div>
</template>
<!--
   
 {{"LOGIN.Email" | translate}}
<ngbd-modal-basic></ngbd-modal-basic>-->